<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    
      <div class="disp">
        <h4><b>YOUR PRODUCTS LIST</b></h4>
      </div>
      
      <div id="list1">
      <table id="list" class="u-full-width" style="display:none">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
       <tbody> </tbody> 
      </table>
       </div>

   <script src="view.js"></script>
</body>
</html>